{%- assign additional_info = product.metafields.custom.additional_info.value -%}
{% for item in additional_info %}
<div class="single-product-accordion-item">
    <div class="single-product-accordion-item-title">
        <h5 class="single-product-accordion-item-heading">{{ item.heading }}</h5>
        <span class="single-product-accordion-item-icon">
            <i class="fa-solid fa-angle-right"></i>
        </span>
    </div>
    <div class="single-product-accordion-item-content">
        <div class="single-product-accordion-item-content-body">
            {{ item.text |  metafield_tag }}
        </div>
    </div>
</div>
{% endfor %}