<div class="single-product-review wow animate__animated animate__fadeInUp" data-wow-duration="1s"
    data-wow-delay=".2s">
    <div class="single-product-ratings-wrapper">
        <span class="single-product-ratings">
            <i class="fa-solid fa-star"></i>
        </span>
        <span class="single-product-ratings">
            <i class="fa-solid fa-star"></i>
        </span>
        <span class="single-product-ratings">
            <i class="fa-solid fa-star"></i>
        </span>
        <span class="single-product-ratings">
            <i class="fa-solid fa-star"></i>
        </span>
        <span class="single-product-ratings">
            <i class="fa-solid fa-star-half"></i>
        </span>
    </div>
    <div class="single-product-review-count">
        <span class="single-product-review-text">1,147 Reviews</span>
    </div>
</div>