{%- liquid
  assign yt = settings.social_youtube_link
  assign tt = settings.social_tiktok_link
  assign x = settings.social_twitter_link
  assign insta = settings.social_instagram_link
  assign fb = settings.social_facebook_link
  assign lin = settings.social_linkedin_link
-%}

<ul class="social-media-link-items">
    {%- if fb !=blank -%}
    <li class="social-media-link-item">
        <a href="{{ fb }}" target="_blank" class="social-media-link">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </li>
    {% endif %}

    {%- if insta !=blank -%}
    <li class="social-media-link-item">
        <a href="{{ insta }}" target="_blank" class="social-media-link">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </li>
    {% endif %}

    {%- if tt !=blank -%}
    <li class="social-media-link-item">
        <a href="{{ tt }}" target="_blank" class="social-media-link">
            <i class="fa-brands fa-tiktok"></i>
        </a>
    </li>
    {% endif %}

    {%- if x !=blank -%}
    <li class="social-media-link-item">
        <a href="{{ x }}" target="_blank" class="social-media-link">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </li>
    {% endif %}
</ul>