{%- assign s = section.settings -%}
<section class="section blog-section bg-{{ s.color_scheme }}" id="section_{{ section.id }}">
    <div class="container">
        <div class="page-common-heading cart-heading">
            <div class="background-with-text-content">
                <h2 class="background-with-text-content-heading wow animate__animated animate__fadeInUp"
                    data-wow-duration="1s" data-wow-delay=".1s">{{ s.heading }}
                </h2>
                {%- if  s.text !=blank -%}
                <p class="background-with-text-content-text background-with-heading-text wow animate__animated animate__fadeInUp"
                    data-wow-duration="1s" data-wow-delay=".3s">
                    {{ s.text }}
                </p>
                {%- endif -%}
            </div>
        </div>
        <div class="about-us-items blog-items">
            {% for article in s.blog.articles %}
                {%- render 'article', article: article -%}
            {% endfor %}
        </div>
    </div>
</section>



{% schema %}
    {
      "name": "Blog",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default" : "OUR Blog"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default" : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ullam reiciendis doloremque aut"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button",
          "default" : "SHOP ALL COFFEE"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "default" : "\/collections\/all"
        },
        {
          "type": "image_picker",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color Scheme",
          "default" : "scheme-1"
        }
      ],
      "presets": [
        {
          "name": "Blog",
          "settings": {
          }
        }
      ]
    }
  {% endschema %}