<script src="{{'ajaxinate.js' |  asset_url }}" defer></script>

{%- assign s = section.settings -%}
{%- paginate collection.products by 12 -%}
<section class="section products-section bg-{{ s.color_scheme }}" id="section_{{ section.id }}">
    <div class="container">
        <div class="product-items">
            {% for product in collection.products %}
            {%- render 'product-card', product: product -%}
            {% endfor %}
        </div>
        <div class="product-page-pagination">
            {% if paginate.next %}
                <a href="{{ paginate.next.url }}" class="collection-load-more-btn">Loading More...</a>
            {% endif %}  
        </div>
    </div>
</section>
{% endpaginate %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        new Ajaxinate({
            container: '.product-items', // card container
            pagination: '.infinite-Pagination'
        });
    });
  </script>

{% schema %}
    {
      "name": "Collection Products",
      "settings": [
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color Scheme",
          "default" : "scheme-1"
        }
      ],
      "presets": [
        {
          "name": "Collection Products",
          "settings": {
          }
        }
      ]
    }
  {% endschema %}